<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config/>
    <context:component-scan base-package="net.oddpoet.cucumber.sample"/>

    <bean id="iofactory" class="net.oddpoet.cucumber.sample.io.InputOutputFactoryBean"/>
    <bean id="inputReader" class="java.io.BufferedReader" factory-bean="iofactory" factory-method="getInputReader"/>
    <bean id="outputWriter" class="java.io.PrintWriter" factory-bean="iofactory" factory-method="getOutputWriter"/>

    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basename">
            <value>message</value>
        </property>
        <property name="fileEncodings" value="UTF-8"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>
</beans>